.main_container {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.homeimgTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
    width: 40%;
    height: 40vh;
}

.image1Cont > img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    filter: brightness(120%);
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
    );
}
.Container1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.homeimgTop_text {
    font-family: "Playfair Display", serif;
    font-size: 2rem; 
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}
.homeimgTop_text2 {
    font-family: "Courier New", Courier, monospace;
}

.home_shopnowBtn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 5%;
}

.home_shopnowBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
}

.home_shopnowBtn:hover {
    color: #ffffff;
    transition-delay: 0.5s;
}

.home_shopnowBtn:hover::before {
    width: 100%;
}

.home_shopnowBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.4s ease;
    z-index: -1;
}

.home_shopnowBtn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.Container2 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */
    /* overflow: hidden; */
}
.Container3 {
    width: 100%;
    height: auto;
    padding: 5% 0 5% 0;  
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.Container3 > h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.main_container3 {
    width: 90%;
    height: auto;
}
.video1_2_text_container3 {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.video1 > video {
    height: 80vh;
    border-radius: 20px;
}
.video2_txet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 80vh;
}
.video1_text {
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.video1_text > h1 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.video1_text > p {
    letter-spacing: 2px;
    color: #333;
    font-size: 1.3rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
}

.video2 > video {
    border-radius: 20px;
    height: 35vh;
}
.video4 > video {
    border-radius: 20px;
    height: 45vh;
}

.video3_4_text_container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.shop_nowBtn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.shop_nowBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
}

.shop_nowBtn:hover {
    color: #ffffff;
    transition-delay: 0.5s;
}

.shop_nowBtn:hover::before {
    width: 100%;
}

.shop_nowBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.4s ease;
    z-index: -1;
}

.shop_nowBtn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: rgb(255, 255, 255);
}

.exploreBtn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000000;
    text-transform: uppercase;
    position: absolute;
    transition: 0.5s ease;
    cursor: pointer;
}
.exploreBtn-con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 5% auto;
}
.exploreBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
}

.exploreBtn:hover {
    color: #ffffff;
    transition-delay: 0.5s;
}

.exploreBtn:hover::before {
    width: 100%;
}

.exploreBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.4s ease;
    z-index: -1;
}

.exploreBtn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: rgb(255, 255, 255);
}

.Container4 {
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .homeimgTop_text {
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    .home_shopnowBtn {
        font-size: 12px;
    }
    .Container1 {
        padding: 4% 0 8% 0;
        width: 90%;
        height: auto;
    }
    .image1Cont > img {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70vh;
    }
    .Container2 {
        padding: 8% 0 8% 0;
        width: 80%;
        height: auto;
    }
    .chainContainer {
        width: 20%;
        height: 20vh;
    }
    
    .text {
        letter-spacing: 1px;
        font-size: 0.9rem;
    }

    .Container3 > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    .video1_text {
        height: 30vh;
        width: 90%;
        gap: 10px;
    }
    .video1 > video {
        height: 60vh;
        border-radius: 20px;
    }

    .video2_txet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 60vh;
    }
    .video1_text > h1 {
        font-size: 1.2rem;
        font-weight: 700;
        padding: 8% 0 0% 0;
        letter-spacing: 2px;
    }
    .video1_text > p {
        letter-spacing: 1.5px;
        font-size: 1rem;
        line-height: 20px;
    }
    .video2 > video {
        border-radius: 20px;
        height: 25vh;
    }
    .video4 > video {
        border-radius: 20px;
        height: 30vh;
    }
}

@media screen and (max-width: 768px) {
    .homeimgTop {
        z-index: 1;
        width: 80%;
        left: 10%;
        bottom: 5%;
        position: absolute;
    }
    .image1Cont > img {
        height: 80vh;
    }
    .video1_2_text_container3,
    .video3_4_text_container3 {
        height: auto;
        flex-direction: column; 
        align-items: center;
    }

    .video1,
    .video2,
    .video4 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 100%; 
        margin-bottom: 10px;
    }

    .video2_txet,
    .video1_text {
        width: 100%;
        text-align: center; 
    }
}

@media screen and (max-width: 425px) {
    .Container1 {
        padding: 8% 0 30% 0;
    }
    .homeimgTop {
        width: 80%;
        height: 45vh;
        left: 10%;
        top: 40%;
        position: absolute;
    }
    .image1Cont > img {
        height: 60vh;
    }
    .homeimgTop_text {
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }
    .home_shopnowBtn {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .video2 > video {
        height: 23vh;
    }
    .Container3 {
        padding: 20% 0 5% 0;
    }
    .shop_nowBtn,
    .exploreBtn {
        font-size: 0.8rem;
    }

    .shop_nowBtn {
        width: 50%;
    }
}
