/* Footer Styling */
.footer {
    background-color: #ffffff;
    
    padding: 100px 5%;
    font-family: "Arial", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.Footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

.Footer_logo img {
    margin-bottom: -5%;
}

.Footerlogoname {
    font-family: "Courier New", Courier, monospace;
    color: #f3ae00;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
}

.Footer-logo-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.shine {
    color: #e6b800;
    font-size: 20px;
}

.Footer_logo p {
    font-size: 14px;
    color: #444;
    padding: 10px 0;
}

.footer-links {
    justify-content: flex-end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    padding-top: 5%;
    align-items: center;
    
}

.footer-section {
    min-width: 180px;
    text-align: left;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-section ul li:hover {
    color: #e6b800;
}

.footer-section p {
    font-size: 14px;
    color: #444;
    margin-bottom: 8px;
}

.footer-section p i {
    margin-right: 5px;
    color: #e6b800;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons i {
    color: black;
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.social-icons i:hover {
    color: #e6b800;
}

@media (max-width: 992px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .footer-section {
        text-align: center;
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}
